body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgb(40, 75, 80), rgb(130, 181, 228), rgb(18, 68, 97));
  height: 100vh;
}

.Nav {
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  background-color: rgb(171, 133, 182);
  font-size: 32px;
  font-family: 🏸;
  margin-top: 5px;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.Home {
  position: absolute;
  margin-top: 135px;
  margin-left: 35px;
  color: rgb(37, 2, 24);

}

.Contact {
  position: absolute;
  margin-top: 105px;
  margin-left: 35px;
  color: rgb(37, 2, 24);

}

.Stname {
  position: absolute;
  top: 120px;
  left: 150px;
  color: rgb(5, 54, 14);
  font-size: larger;
}

.table {
  position: absolute;
  top: 300px;
  background-color: rgb(171, 133, 182);
  color: rgb(61, 3, 27);
  font-size: 30px;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}

.btn1 {
  border: 2px solid rgb(146, 7, 65);
  width: 350px;
  height: 50px;
  font-weight: 400;
  border-radius: 20px;
  position: absolute;
  top: 150px;
  margin-left: 820px;
  color: rgb(80, 3, 35);
  font-size: larger;
  background-color: rgb(219, 184, 203);
  text-align: center;
}